<ion-content>
  <div class="container-fluid" *ngIf="actualite != null">
    <div class="row">
      <div class="col-md-12 mb-4">
        <h2 class="titre">{{ actualite.titre }}</h2>
      </div>
      <div class="col-md-12" >
        <!-- Première image (infos en bas sur l'image) -->
        <div class="image-container first">
          <img [src]="environment.apiLink + actualite.src" alt="image" />
          <div class="info-bottom">
            <span class="date-article" [innerHTML]="actualite.date | sanitizeHtml"></span>
          </div>
        </div>
      </div>

      <div class="col-md-12" [innerHTML]="actualite.content | sanitizeHtml">

      </div>
    </div>
  </div>
</ion-content>
