<ion-content>

  <div class="gris">
    <div *ngFor="let category of categories">
    <!-- Titre de la catégorie -->
      <h2 class="category-title">{{ category.name }}</h2>

    <!-- Liste des images avec numérotation -->
       <div class="images-grid">
       <div *ngFor="let img of category.images; let i = index" class="image-card">
        <!-- Numéro de l'image -->
         <div class="image-number">{{ i + 1 }}</div>

        <!-- Image -->
         <img [src]="img.src" alt="{{ img.title }}" />

        <!-- Titre sous l'image -->
         <p class="image-title">{{ img.title }}</p>
       </div>
      </div>
     </div>
  </div>
</ion-content>
