<ion-content>
  <h2 class="titre">Actualité</h2>
  <!-- Première image (infos en bas sur l'image) -->
  <div class="image-container first">
    <img [src]="images[0].src" alt="image" />
    <div class="info-bottom">
      <h2>{{ images[0].titre }}</h2>
      <p>{{ images[0].date }}</p>
      <small>{{ images[0].description }}</small>
    </div>
  </div>

  <!-- Les autres images (infos à droite + description en bas) -->
  <div *ngFor="let img of images.slice(1)" class="image-container row">
    <img [src]="img.src" alt="image" />
    <div class="info-right">
      <h2>{{ img.titre }}</h2>
      <p>{{ img.date }}</p>
      <small>{{ img.description }}</small>
    </div>
  </div>
</ion-content>
