<ion-content>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 mb-4">
        <h2 class="titre">{{ 'Actualités' | translate }}</h2>
      </div>
      <div class="col-md-12" *ngIf="response.length > 0">
        <!-- Première image (infos en bas sur l'image) -->
        <div class="image-container first" >
          <img [src]="environment.apiLink + response[0].src" alt="image" />
          <div class="info-bottom">
            <span class="date-article" [innerHtml]="response[0].date | sanitizeHtml"></span>
            <span class="separator"><i class="fas fa-minus"></i> </span>
            <span class="titre-article">{{ response[0].titre }}</span>
          </div>
        </div>
      
        <!-- Les autres images (infos à droite + description en bas) -->
        <div *ngFor="let img of response.slice(1)" class="image-container row" (click)="voirActualite(img.src)">
          <img [src]="environment.apiLink + img.src" alt="image" />
          <div class="info-right">
            <span class="date-article" [innerHtml]="img.date | sanitizeHtml"></span>
            <span class="separator"><i class="fas fa-minus"></i> </span><br>
            <span class="titre-article">{{ img.titre }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
