<ion-app>
  <!-- Menu latéral -->
  <ion-menu contentId="main-content" side="start" menuId="main" class="wide-menu">
    <ion-header>
      {{ 'Menu' | translate }}
    </ion-header>
    <ion-content>
      <ion-list>
        <!-- Chaque lien devient actif avec routerLinkActive -->
        <ion-menu-toggle><ion-item button (click)="closeMenuAndNavigate('/home')" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          {{ 'Accueil' | translate }}
        </ion-item></ion-menu-toggle>
        <ion-menu-toggle><ion-item button (click)="closeMenuAndNavigate('/actualites')">
          {{ 'Actualité' | translate }}
        </ion-item></ion-menu-toggle>
        <ion-menu-toggle><ion-item button (click)="closeMenuAndNavigate('/videos')">
          {{ 'Vidéos' | translate }}
        </ion-item></ion-menu-toggle>
        <ion-menu-toggle><ion-item button (click)="closeMenuAndNavigate('/audios')">
          {{ 'Audios' | translate }}
        </ion-item></ion-menu-toggle>
        <ion-menu-toggle><ion-item button (click)="closeMenuAndNavigate('/programmes')">
          {{ 'Programme' | translate }}
        </ion-item></ion-menu-toggle>
        <ion-menu-toggle><ion-item button (click)="closeMenuAndNavigate('/professiondefoi')">
          {{ 'Profession de foi' | translate }}
        </ion-item></ion-menu-toggle>
        <ion-menu-toggle><ion-item button (click)="closeMenuAndNavigate('/galeriePhotos')">
          {{ 'Galerie' | translate }}
        </ion-item></ion-menu-toggle>
        <ion-menu-toggle><ion-item button (click)="closeMenuAndNavigate('/documents')">
          {{ 'Documents' | translate }}
        </ion-item></ion-menu-toggle>
        <ion-menu-toggle><ion-item button (click)="closeMenuAndNavigate('/gadgets')">
          {{ 'Gadgets' | translate }}
        </ion-item></ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- Contenu principal -->
  <ion-header *ngIf="showHeader !== false">
    <ion-toolbar class="custom-toolbar">
      <!-- Bouton pour ouvrir le menu -->
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title *ngIf="showLogo == true && logoUrl != ''" >
        <img  src="{{ environment.apiLink }}{{ logoUrl }}" alt="LOGO" class="toolbar-logo" />
      </ion-title>
      <ion-buttons slot="end" class="langselector">
        <ion-button (click)="setLang('fr')" [class]="currentLang === 'fr' ? 'active-lang' : 'inactive-lang'">FR</ion-button>
        <ion-button (click)="setLang('en')" [class]="currentLang === 'en' ? 'active-lang' : 'inactive-lang'">EN</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content id="main-content">
    <app-galerie *ngIf="currentRoute === '/galeriePhotos'" (previewState)="showHeader = !($event)"></app-galerie>
    <ion-router-outlet *ngIf="currentRoute !== '/galeriePhotos'"></ion-router-outlet>
  </ion-content>

</ion-app>







