.active-lang {
  --color: #67a8dc;
}
.inactive-lang {
  --color: white;
}

/* custom toolbar style */

ion-toolbar.custom-toolbar {
  --background: #173E71;
  --min-height: 64px; /* typical mobile toolbar height */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.1em;
}

ion-title {
  text-align: center;    /* center content */
}



ion-title .toolbar-logo {
  height: 40px; /* smaller logo for mobile */
}

ion-menu-button::part(icon) {
  font-size: 32px;
  color: white;
}

ion-menu-button {
  width: 48px;
  height: 48px;
}

ion-menu {
  --width: 80vw; /* responsive width for mobile */
  color:#173E71;
}

ion-menu ion-header {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 40px;
  padding-top: 32px;
  padding-left: 16px;
  font-family: 'Exo2-Bold';
}

ion-list {
  padding-top: 14px;
}

ion-menu ion-list ion-item ion-content {
  font-size: 1.2em;
  font-weight: bold;
  display: flex;
  padding-left: 24px;
  height: 50px;
  align-items: center;
  font-family: 'Exo2-Medium';
}


.langselector > ion-button {
  font-size: 1.1em;
  font-weight: bold;
  color: white;
}

.langselector {
  gap: 12px;
}