.active-lang {
  --color: #67a8dc;
}
.inactive-lang {
  --color: white;
}

/* custom toolbar style */

ion-toolbar.custom-toolbar {
  --background: #173E71;
  --min-height: 64px; /* typical mobile toolbar height */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.1em;
}

ion-title {
  text-align: center;    /* center content */
}



ion-title .toolbar-logo {
  height: 40px; /* smaller logo for mobile */
}

ion-menu-button::part(icon) {
  font-size: 32px;
  color: white;
}

ion-menu-button {
  width: 48px;
  height: 48px;
}

ion-menu {
  --width: 80vw; /* responsive width for mobile */
}

ion-menu-button::part(icon) {
  font-size: 32px;
  color: white;
}

ion-menu-button {
  width: 48px;
  height: 48px;
}

ion-menu {
  --width: 80vw; /* responsive width for mobile */
}


ion-menu-button::part(icon) {
  font-size: 32px;
  color: white;
}

ion-menu-button {
  width: 48px;
  height: 48px;
}

ion-menu {
  --width: 80vw; /* responsive width for mobile */
}

@media (min-width: 768px) {
  ion-toolbar.custom-toolbar {
    --min-height: 100px;
    font-size: 1.5em;
  }
  ion-title .toolbar-logo {
    height: 80px;
  }
  ion-menu {
    --width: 400px;
  }
  ion-menu-button::part(icon) {
    font-size: 60px;
  }
  ion-menu-button {
    width: 80px;
    height: 80px;
  }
}

ion-menu ion-header {
  --background: #173E71;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 40px;
  padding-left: 16px;
  font-family: 'Exo2-Bold';
}

ion-menu ion-list ion-item {
  font-size: 1.2em;
  font-weight: bold;
  display: flex;
  padding-left: 24px;
  height: 50px;
  align-items: center;
  font-family: 'Exo2-Medium';
}


.langselector > ion-button {
  font-size: 1.1em;
  font-weight: bold;
  color: white;
}

.langselector {
  gap: 12px;
}