.audios-container {
  padding: 10px;
  max-height: 100vh; /* Scrollable */
  overflow-y: auto;


}

// creer un espace entre les audios
.audio-card {
  /* fond gris */
  margin-bottom: 10px;
  padding: 10px;

}

//les titres des audios
.audio-title {
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 1.1rem;
}

//mise en forme de la barre de progression audio et des boutons
.audio-controls {
  display: flex;
  align-items: center;
  //background-color:#67a8dc;
  border-radius: 15px;
  gap: 10px; /* espace entre barre, temps et boutons */
}

.audio-controls input[type="range"] {
  flex: 1; /* occupe le maximum d'espace */
  background-color:black;
}

.audio-time {
  min-width: 70px;
  text-align: center;
}

//mise en forme du titre de la page audio
.titre{color:#67a8dc;}

//mise en forme du ion-conteneur: c'est la div qui va scroller(container)
ion-content{
  display:flex;
  justify-content:center;
  align-items:center;
  }

.container{
  width:95%;
  max-height:100%;
//active le scroll interne
  overflow-y:auto;
 //cache le scrollbar(firefox)
  scrollbar-width:none;
  //cache le scrollbar(IE/Edge)
  -ms-overflow-style:none;
   margin: auto;
 }

.container::-webkit-scrollbar{
    //cache la barre de scrooll(chrome,safari,opera)
    display:none;
  }
//je veux changer la couleur de la barre audio
.barreAudio{
    background-color:black;
  }
input {
  background-color: black;
}
