/* Overlay pour centrer le spinner */
.spinner-overlay {
  position: fixed;        /* Le positionne par rapport à la fenêtre */
  top: 50%;               /* Milieu vertical */
  left: 50%;              /* Milieu horizontal */
  transform: translate(-50%, -50%); /* Centre parfaitement */
  z-index: 9999;          /* Au-dessus de tout le contenu */
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.5); /* optionnel : fond semi-transparent */
  width: 100%;
  height: 100%;
}


.audio_controls {

  display: flex;
  align-items: center;
  gap: 10px;
  background-color:#67a8dc;
  border-radius:20px;
  height:25px;

}
.progress {
    flex: 1; // prend tout l’espace disponible
    background-color:#67a8dc;
  }


.titre
{ color:#1a3d72;
  margin-left:5px;
  font-weight: bold;
  font-family:EXO2;
  font-size:30px;
  margin-top:20px;
  }


.titre_audio{
  color:#1a3d72;
  font-size:40px;
  margin:10px;
  font-family:EXO2;
  font-weight:bold;

  }
ion-range {
  --bar-background: #1a3d72;
  --bar-background-active: #1a3d72;
  --bar-height: 4px;
  --bar-border-radius: 2px;


  /* enlever toute bordure fantôme */
  border: none;
  box-shadow: none;

}

ion-range {
  padding: 0 12px;
  --knob-size: 18px;
  --bar-height: 8px; /* épaisseur de la barre */
}
