
<ion-content class="ion-padding">
     <h1 class="titre_audio">Audios</h1>
      <div *ngIf="pageLoad" class="spinner-overlay"><ion-spinner name="crescent"></ion-spinner></div>
         <!-- Spinner centré pendant le chargement -->
          <div *ngIf="loading" class="spinner-overlay">
            <ion-spinner name="crescent"></ion-spinner>
          </div>

           <!-- Liste des audios -->
         <div>
           <div *ngFor="let audio of audios">
               <div class="titre">
                 <ion-label class="titre">
                  {{ audio.title }}
                 </ion-label>
               </div>
               <div class="audio_controls">
                 <div class="progress">
                    <ion-range min="0" [max]="duration" [value]="currentAudio === audio ? currentTime : 0"
                      (ionChange)="seekAudio($event)">
                    </ion-range>
                 </div>

                <div class="buttons">
                  <ion-button fill="clear" (click)="togglePlay(audio)">
                     <ion-icon name="pause-outline" *ngIf="isPlaying && currentAudio === audio"></ion-icon><ion-icon  name="caret-forward-outline" *ngIf="!isPlaying || currentAudio !== audio"></ion-icon>
                  </ion-button>
                   <ion-button fill="clear" (click)="stopAudio()"><ion-icon name="stop-circle-outline"></ion-icon></ion-button>
                  <ion-button
                    fill="clear"
                     (click)="downloadAudio(audio)"
                     [disabled]="isDownloading"
                    >
                     <ion-icon name="arrow-up-circle-outline"></ion-icon>

                    </ion-button>
                </div>

             </div>
             <div *ngIf="isDownloading && currentDownload === audio">
               <ion-card >
                 <ion-card-header>
                   <ion-card-title> {{ 'Télécharger' | translate }}</ion-card-title>

                 </ion-card-header>

                 <ion-card-content>
                   <!-- Barre de progression -->
                   <ion-progress-bar
                     [value]="downloadProgress / 100"
                     color="primary">
                   </ion-progress-bar>

                   <!-- Pourcentage -->
                   <div class="progress-info">
                     <ion-text color="primary">
                       <h3>{{ downloadProgress }}%</h3>
                     </ion-text>
                   </div>

                 </ion-card-content>
               </ion-card>
             </div>

           </div>

       </div>

</ion-content>



