ion-content {
  --background: #f9f9f9;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow: scroll;
}

.titre {
  color: #1a3d72;
  font-size: 48px;
}

#professiondefoi-content {
  font-size: 48px;
  line-height: 1.6;
  color: #333;
}


.form-select {
  font-size: 58px;
}
