ion-content {
  --background: #f9f9f9;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow: scroll;
}

.titre {
  color: #1a3d72;
  font-size: 40px;
  font-family: 'Exo2-Bold';
}

/* Header de l'accordéon */
.accordion-header {
  background-color: #66A7DA;
  ion-label {
    font-size: 30px;
    font-family: 'Exo2-Bold';
  } 
}

ion-accordion {
  border: 2px solid #1e90ff; /* bordure bleue */
  border-radius: 8px;
  margin-bottom: 16px;
}

/* Contenu */
.accordion-content {
  font-size: 30px;
  padding: 10px 8px;
  background-color: #D1E4F3;
  border-left: 2px solid #1e90ff;
  border-right: 2px solid #1e90ff;
  border-bottom: 2px solid #1e90ff;
  font-family: 'Exo2-Medium';
}

.monimg{
  width:100%;
}
