.main-title {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  img {
    width: 90%;
    max-width: 400px;
    border: 2px solid #ccc;
    border-radius: 10px;
    object-fit: cover;
  }
}

/* Header de l'accordéon */
.accordion-header {
  background-color: #f0f8ff; /* fond bleu ciel clair */
  color: #1e90ff; /* texte bleu ciel */
  font-weight: bold;
}

/* Contenu */
.accordion-content {
  padding: 12px 16px;
  background-color: #fafafa;
  border-left: 2px solid #1e90ff;
  border-right: 2px solid #1e90ff;
  border-bottom: 2px solid #1e90ff;
}

.monimg{
  width:100%;}
