.header{
  background-color:#1a3d72;
  min-height: 900px;
  justify-content: top;
}

.img-overlay{
  width: 100%;
  height: auto;
  border-top: 5px solid #66A7DA;
  border-bottom: 90px solid #66A7DA;
  display: block;
}

.overlay-text {
  position: absolute;
  bottom: 0; /* anchor to bottom of image */
  left: 50%;
  transform: translateX(-50%); /* center horizontally */
  font-size: 55px;
  font-weight:500;
  color: white;
  line-height: 1;
  padding-bottom: 10px; /* optional, adjust spacing above the border */
}