ion-content {
  --background: #f9f9f9;
}

.img-home-logo {
  width: 50%;
  margin: 0px;
}

.welcome-message {
  font-size: 15px  !important;
  color: white;
  font-family: 'Exo2-Bold';
  padding: 0px 15px 0px 15px;
}

.overlay-text {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  font-weight: 500;
  color: white;
  font-family: 'Exo2-Bold';

}

.header {
  background-color: #1a3d72;
  min-height: 400px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.img-overlay {
  width: 100%;
  height: auto;
  border-top: 3px solid #66A7DA;
  border-bottom: 45px solid #66A7DA;
  display: block;
}


.welcome-button {
  text-align: center;
  line-height: 32px;
  background-color: #D1E4F3;
  color: #1a3d72;
  border-radius: 12px;
  flex-direction: column;
  padding-top: 8px;
  margin-top: 12px;
  height: 140px;
  font-size: 24px;
  width: 140px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  font-family: 'Exo2-Light';
}
.welcome-button > i {
  font-size: 30px !important;
}
