<ion-content class="gris">
  <div class="row">
    <div class="col-md-12">
      <div class="header row">
        <div class="col-md-12 text-center" style="line-height: 10px;">
          <img 
            src="assets/logo.png" 
            alt="Logo" 
            width="600" 
            height="800" 
            class="img-fluid"
          >
        </div>
        <div class="col-md-12 text-center" style="color: white; font-size: 80px; height: 400px;">
          Message d'accueil
        </div>
      </div>
      
      <div class="container" style="position: relative;top: -200px;">
        <div class="row">
          <div class="col-md-12 text-center" style="position: relative; display: inline-block;">
            <img 
              src="assets/blackbird-7543630_640.jpg" 
              alt="Logo" 
              width="100%"
              height="auto" 
              class="img-overlay">
              <span class="overlay-text">Bienvenue</span>
          </div>
          <div class="col-md-12 text-center" class="pt-4" style="padding-left: 40px;">
            <a class="btn btn-app welcome-button" href="#">
              <i class="fas fa-hand-holding-heart"></i><br>
              Profession de foi
            </a>
            <button class="btn btn-app welcome-button" (click)="navigate('/programmes')">
              <i class="fas fa-list"></i><br>
              Mon Programme
            </button>
            <a class="btn btn-app welcome-button" (click)="navigate('/actualites')">
              <i class="fas fa-newspaper"></i><br>
              Actualités
            </a>
            <a class="btn btn-app welcome-button" (click)="navigate('/galeriePhotos')">
              <i class="fas fa-image"></i><br>
              Galerie Photos
            </a>
            <a class="btn btn-app welcome-button" (click)="navigate('/videos')">
              <i class="fas fa-file-video"></i><br>
              Vidéos
            </a>
            <a class="btn btn-app welcome-button" (click)="navigate('/audios')">
              <i class="fas fa-file-audio"></i><br>
              Audios
            </a>
            <a class="btn btn-app welcome-button" (click)="navigate('/documents')">
              <i class="fas fa-file"></i><br>
              Documents
            </a>
          </div>

        </div>
      </div>
    </div>

  </div>
</ion-content>