<ion-content class="gris">
  <div class="row" *ngIf="response != null">
    <div class="col-md-12">
      <div class="header row">
        <div class="col-md-12 text-center" style="line-height: 10px;">
          <img 
            src="{{ environment.apiLink }}{{ response.field_logo }}" 
            alt="Logo" 
            width="600" 
            height="800" 
            class="img-fluid"
          >
        </div>
        <div class="col-md-12 text-center" style="color: white; font-size: 50px; height: 400px;">
          <div class="row">
            <div class="col-md-12" [innerHtml]="response.body | sanitizeHtml">

            </div>
          </div>
        </div>
      </div>
      
      <div class="container" style="position: relative;top: -200px;">
        <div class="row">
          <div class="col-md-12 text-center" style="position: relative; display: inline-block;">
            <img 
              src="{{ environment.apiLink }}{{ response.field_imgapi }}" 
              alt="Logo" 
              width="100%"
              height="auto" 
              class="img-overlay">
              <span class="overlay-text">{{ response.title }}</span>
          </div>
          <div class="col-md-12 text-center" class="pt-4">
            <a class="btn btn-app welcome-button" (click)="navigate('/professiondefoi')">
              <i class="fas fa-hand-holding-heart"></i><br>
              {{ 'Profession de foi' | translate }}
            </a>
            <button class="btn btn-app welcome-button" (click)="navigate('/programmes')">
              <i class="fas fa-list"></i><br>
              {{ 'Mon Programme' | translate }}
            </button>
            <a class="btn btn-app welcome-button" (click)="navigate('/actualites')">
              <i class="fas fa-newspaper"></i><br>
              {{ 'Actualités' | translate }}
            </a>
            <a class="btn btn-app welcome-button" (click)="navigate('/galeriePhotos')">
              <i class="fas fa-image"></i><br>
              {{ 'Galerie Photos' | translate }}
            </a>
            <a class="btn btn-app welcome-button" (click)="navigate('/videos')">
              <i class="fas fa-file-video"></i><br>
              {{ 'Vidéos' | translate }}
            </a>
            <a class="btn btn-app welcome-button" (click)="navigate('/audios')">
              <i class="fas fa-file-audio"></i><br>
              {{ 'Audios' | translate }}
            </a>
            <a class="btn btn-app welcome-button" (click)="navigate('/documents')">
              <i class="fas fa-file"></i><br>
              {{ 'Documents' | translate }}
            </a>
          </div>

        </div>
      </div>
    </div>

  </div>
</ion-content>