.page-title {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 25px;
  color: #1e90ff;
}

.doc-card {
  background: #ffffff;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

.doc-card:hover {
  transform: scale(1.02);
}


 .violet{
   color:#67a8dc;}

.doc-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.doc-icon {
  font-size: 50px;
  margin: 10px 0;
}

.download-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #1e90ff;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border-radius: 10px;
  transition: background 0.3s ease;
}

.download-btn:hover {
  background-color: #005bb5;
}
