<ion-content class="ion-padding">
  <h1 class="le_titre">Documents</h1>


  <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>

  <div class="documents-list" *ngIf="!loading">
    <div class="doc-card" *ngFor="let doc of documents">
      <h2 class="doc-title">{{ doc.title }}</h2>
      <div class="doc-icon">📄</div>

      <button ion-button fill="clear" class="download-btn telechargement" (click)="download(doc)">

         <a [href]="pdfUrl" target="_blank" [download]="nomFichier">
          Télécharger le PDF
        </a>
      </button>
    </div>
  </div>

  <div *ngIf="!loading && documents.length === 0" class="no-docs">
    Aucun document disponible pour le moment.
  </div>
</ion-content>
