.page-title {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 25px;
  color: #1e90ff;
}

.doc-card {
  background: #ffffff;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

.doc-card:hover {
  transform: scale(1.02);
}

.doc-title {
  font-size: 1em;

  margin-bottom: 10px;
  font-family:EXO2-Medium;
  color: #67a8dc;
}

.doc-icon {
  font-size: 90px;
  margin: 10px 0;
}

.download-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #1a3d72;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border-radius: 10px;
  transition: background 0.3s ease;
}

.download-btn:hover {
  background-color: #005bb5;
}

.le_titre{
  margin-left:20px;
  color:#1a3d72;
  font-size:20px;
  font-weight:bold;
  font-family:EXO2-Medium;
  }

ion-card {
  box-shadow: none !important;   /* enlève l'ombre */
  border-radius: 0 !important;   /* enlève les coins arrondis */
  margin: 0 !important;          /* enlève la marge externe */
  padding: 0 !important;         /* enlève le padding interne */
  background: transparent !important; /* supprime le fond blanc */
}

a {
  color: inherit;           /* Utilise la couleur du parent */
  text-decoration: none;    /* Supprime le soulignement */
  font-weight: normal;      /* Supprime le gras si nécessaire */
  cursor: default;          /* Optionnel, enlève le pointeur */
}




