
<ion-content class="ion-padding">
<h1 class="titre"> Gadgets</h1>
  <!-- Spinner pendant le chargement -->
  <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>

  <!-- Liste des gadgets -->
  <div *ngIf="!loading">
    <ion-card *ngFor="let gadget of gadgets" class="gadget-card">

      <!-- Titre du gadget -->
      <ion-card-header>
        <ion-card-title class="titre_gadget">{{ gadget.title }}</ion-card-title>
      </ion-card-header>

      <!-- Galerie d'images -->
      <ion-grid>
        <ion-row>
          <ion-col size="12" size-md="6" *ngFor="let img of gadget.images">

            <ion-card>
              <img [src]="img" />
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card>

  </div>

</ion-content>
