/* Général */
ion-card {
  cursor: pointer;
  margin-bottom: 15px;
  box-shadow: none;

  img, iframe {
    width: 100%;
    border-radius: 8px;
  }

  ion-card-header {
    padding: 5px 0;
  }

  ion-card-title,
  ion-card-subtitle {
    margin: 0;
    font-weight: normal;
  }
}

/* Première vidéo plus haute */
.first-video img,
.first-video iframe {
  height: 400px;
  margin: 0 10px;
}

/* Miniatures avec bouton play */
.thumbnail-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.thumbnail-container .play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  color: white;
  text-shadow: 1px 1px 5px black;
  pointer-events: none; /* Pour que le click passe au div parent */
}

/* Autres vidéos */
.video-wrapper img,
.video-wrapper iframe {
  height: 250px;
}

/* Marges et alignement des lignes */
ion-grid {
  padding-left: 10px;
  padding-right: 10px;
}

ion-row {
  margin-left: 0;
  margin-right: 0;
}

ion-col {
  padding-left: 5px;
  padding-right: 5px;
}

/* Grand titre */
.titre{
  font-size:50px;
  color:#1a3d72;
  margin-left:20px;
  font-weight: bold;
}

/* Titres vidéos */
.titres_videos{
  margin-bottom: 5px;
  font-size: 1.5rem;
  color:#67a8dc;
  text-align: center;
}

/* Responsive tablette */
@media (min-width: 768px) {
  .first-video img,
  .first-video iframe {
    height: 450px;
  }

  .video-wrapper img,
  .video-wrapper iframe {
    height: 280px;
  }
}
