<ion-content class="gris">
  <div class="videos-container" class="gris">
    <h2 class="titre">Vidéos</h2>
    <div class="video-card" *ngFor="let video of videos">
      <!--  Wrapper pour garder le ratio 16:9 -->
      <div class="video-wrapper">
        <iframe
          [src]="video.safeUrl"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen>
        </iframe>
      </div>
      <!--  Titre sous la vidéo -->
      <h3 class="video-title">{{ video.title }}</h3>
    </div>
  </div>
</ion-content>
