<ion-content class="ion-padding">

  <h1 class="titre">Vidéos</h1>

  <!-- Affichage du chargement si les vidéos ne sont pas encore récupérées -->
  <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>

  <!-- Affichage des vidéos uniquement si elles sont disponibles -->
  <ng-container *ngIf="!loading && videos.length > 0">

    <!-- Première vidéo -->


    <!-- Autres vidéos -->
    <ion-grid>
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size="12" size-md="10" *ngFor="let video of videos; let i = index" >
          <div class="first-video" (click)="loadVideo(i)">
            <ng-container *ngIf="videoLoaded[i]; else thumbnail">
              <iframe #iframeElem
                      [src]="getSafeUrl(video.youtube)"
                      frameborder="0"
                      allowfullscreen
                      allow="autoplay; encrypted-media"  class="mon-iframe">
              </iframe>
            </ng-container>

            <ng-template #thumbnail>
              <div class="thumbnail-container">
                <img [src]="getThumbnail(video.youtube)" />
                <div class="play-button"><ion-icon name="chevron-forward-circle-outline"></ion-icon></div>
              </div>
            </ng-template>

            <ion-card-header class="ion-text-center titres_videos">

              <ion-card-title class="titres_videos">{{ video.title }}</ion-card-title>

            </ion-card-header>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ng-container>

</ion-content>
